{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
<form class="form-horizontal" method="post" action=".">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}

    <div class="form-group">
        <label class="col-md-3 control-label">&nbsp;</label>
        <div class="col-md-9">
            {% trans "Forgot your password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "reset it" %}</a>.
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">&nbsp;</label>
        <div class="col-md-9">
            {% trans "Don't have an account" %}? <a href="{% url 'registration_register' %}">{% trans "register" %}</a>.
        </div>
    </div>

    {% include 'form_button.html' with text="Log in" %}
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
