{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}

<p>
You can sign up with any email, not just those you'd like to autorespond to.
You'll set up your autoresponse emails after your account is active.
</p>

<form method="post" action=".">
    {% csrf_token %}
  {% bootstrap_form form %}

  Read the Terms of Service here:
  <a href="{% url 'terms' %}" target="_blank" rel="noopener noreferrer">terms</a>.
  <br/>
  <br/>

  <input type="submit" class="btn btn-default" value="{% trans 'Submit' %}" />
</form>
{% endblock %}
