{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}

<p>
You can sign up with any email, not just those you'd like to autorespond to.
You'll set up your autoresponse emails after your account is active.
</p>

<form class="form-horizontal" method="post" action=".">
    {% csrf_token %}
  {% bootstrap_form form layout='horizontal' %}

  <div class="form-group">
      <label class="col-md-3 control-label">&nbsp;</label>
      <div class="col-md-9">
          The Terms of Service are available 
          <a href="{% url 'terms' %}" target="_blank" rel="noopener noreferrer">here</a>.
      </div>
  </div>

  {% include 'form_button.html' with text="submit" %}
</form>
{% endblock %}
