braintree
django<2.3
django-amazon-ses
django-bootstrap3
django-registration-redux
djmail
dnspython  # optional requirement for sleekxmpp
docopt
enum34
flask
future
futures
google-api-python-client
google-measurement-protocol==1.0.0
gunicorn[gevent]
jsonpickle  # https://github.com/googleapis/oauth2client/issues/681
git+https://github.com/simon-weber/oauth2client.git@4.1.4-rc.1#egg=oauth2client==4.1.4-rc.1
sentry-sdk[flask]
requests
git+https://github.com/simon-weber/SleekXMPP.git@1.5.0rc1#egg=sleekxmpp==1.5.0rc1
