braintree
dj-static
Django==1.8.14
django-bootstrap3
django-registration-redux
git+git://github.com/simon-weber/django-supervisor.git@autoreload_on_created#egg=django-supervisor==0.3.3.dev0
djmail
dnspython  # optional requirement for sleekxmpp
docopt
enum34
Flask
futures
gevent
google-api-python-client
google-measurement-protocol
gunicorn
newrelic
oauth2client
raven[flask]
requests
git+https://github.com/simon-weber/SleekXMPP.git@1.5.0rc1#egg=sleekxmpp==1.5.0rc1
sparkpost
supervisor
git+https://github.com/venmo/pip-tools.git@1.7.1a1#egg=pip-tools==1.7.1a1
