<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Basic Page Needs
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Google Chat Autoresponder</title>
        <meta name="description" content="Set up automatic responses to unmonitored Google Chat accounts.">
        <meta name="author" content="simon@simonmweber.com">

        <!-- FONT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->

        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Favicon
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="icon" type="image/png" href="/assets/favicon.png">

        <style>
            /* fix navbar-text indentation on mobile: http://stackoverflow.com/a/20411963 */
            @media (max-width: 767px) {    
                p.navbar-text {
                    margin: 0;
                    padding: 10px 15px;
                }
                .navbar li {
                    overflow: hidden;
                }
            }
        </style>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-69242364-1', 'auto');
          ga('send', 'pageview');

        </script>
    </head>
    <body>
        <div class="navbar-wrapper">
            {% block navbar %}
            <div class="container">
              <nav class="navbar navbar-default">
                <div class="container-fluid">
                    {% if user.is_authenticated %}
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{% url 'autorespond' %}">Autoresponder</a>
                    </div>
                    {% else %}
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Autoresponder</a>
                    </div>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'license_details' %}">Billing</a></li>
                        <li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
                        <li><a href="{% url 'auth_logout' %}?next=/">Log Out</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.currentlicense.license.is_trial %}
                        <li><p class="navbar-text">
                            Your trial expires on {{ user.currentlicense.license.trial_expire_date}}.
                            </p></li>
                            {% endif %}
                            <li><p class="navbar-text"><span class="glyphicon glyphicon-user"></span> {{ user.username }} ({{ user.email }})</p></li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'auth_login' %}">Log In</a></li>
                    </ul>
                    {% endif %}
              </nav>
            </div>
            {% endblock navbar %}
        </div>

        <div id="header">
            {% block header %}
            {% endblock header %}
        </div>

        <div id="content" class="container">
            {% block content %}
            {% endblock content %}
        </div>

            <footer class="footer text-center">
                {% block footer %}
                <br/>
                <br/>
                <hr>
                <a href="/privacy">privacy</a>
                <a href="/terms">terms</a>
                <a href="https://simonmweber.com">author</a>

                <br/>
                For support, email 
                <a href="mailto:support@gchat.simon.codes" target="_blank" rel="noopener noreferrer">support@gchat.simon.codes</a>
                or tweet <a href="https://twitter.com/simonmweber" target="_blank" ref="noopener noreferrer">@simonmweber</a>.

                <br/>
                Google Music user? Check out <a href="https://autoplaylists.simon.codes/" target="_blank" rel="noopener noreferrer">Autoplaylists for Google Music</a>.
                {% endblock footer %}
            </footer>
        </div>
    </body>
</html>
