{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
    <div id="details" class="container">
        <h2>autorespond accounts:</h2>
        <ul>
            {% for gcredential in gcredentials %}
            <li>{{ gcredential.email }}</li>
            {% endfor %}
        </ul>

        {% if not is_active %}
        Your account is currently inactive.
        <a href="{% url 'license_details' %}">Purchase a subscription</a>.
        {% else %}
        <form action="{% url 'gchatautorespond.apps.autorespond.views.auth_view' %}">
            <input class="btn btn-primary" type="submit" value="add an autorespond account">
        </form>
        {% if gcredentials %}
            <h2>autoresponses:</h2>

            Creating an autoresponse will make the account:
            <ul>
                <li>always appear online</li>
                <li>accept all chat invitations</li>
                <li>respond to Chat or Hangouts messages when you are offline, away, or busy</li>
            </ul>
            Be sure to include contact information like an email or profile link.

            <br/>
            If enabled, email notifications will be sent to your login email ({{ user.email }}).

            <form id="autoresponses" method="post" action="{% url 'gchatautorespond.apps.autorespond.views.autorespond_view' %}">
                {% csrf_token %}
                {% bootstrap_formset autorespond_formset %}
                <input class="btn btn-primary" type="submit" name="submit_autoresponses" value="update autoresponses">
            </form>

            {% if excluded_formset.autoresponds %}
                <h2>excluded contacts:</h2>
                Excluded contacts will never be sent an autoresponse (or trigger an email notification).
                <br/>
                Due to restrictions in Google's apis, they must be matched by name rather than email.

                <br/>
                <br/>

                <form id="excludeds" method="post" action="{% url 'gchatautorespond.apps.autorespond.views.autorespond_view' %}">
                    {% csrf_token %}
                    {% bootstrap_formset excluded_formset %}
                    <input class="btn btn-primary" type="submit" name="submit_excludeds" value="update excluded contacts">
                </form>
            {% endif %}

        {% endif %}
        {% endif %}
    </div>
{% endblock content %}
