{% extends "base.html" %}
{% block navbar %}

<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
        {% if user.is_authenticated %}
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'autorespond' %}">Autoresponder</a>
        </div>
        {% else %}
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Autoresponder</a>
        </div>
        {% endif %}

        {% if user.is_authenticated %}
        <ul class="nav navbar-nav">
            <li><a href="{% url 'license_details' %}">Billing</a></li>
            <li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
            <li><a href="{% url 'auth_logout' %}?next=/">Log Out</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.currentlicense.license.is_trial %}
            <li><p class="navbar-text">
                Your trial expires on {{ user.currentlicense.license.trial_expire_date}}.
                </p></li>
                {% endif %}
                <li><p class="navbar-text"><span class="glyphicon glyphicon-user"></span> {{ user.username }} ({{ user.email }})</p></li>
        </ul>
        {% else %}
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'auth_login' %}?next=/">Log In</a></li>
            </ul>
        </div>
        {% endif %}
  </nav>
</div>
{% endblock navbar %}
{% block content %}
    <div id="details">
        <h3>autorespond accounts:</h3>
        <ul>
            {% for gcredential in gcredentials %}
            <li>{{ gcredential.email }}</li>
            {% endfor %}
        </ul>

        {% if not is_active %}
        Your account is currently inactive.
        <a href="{% url 'license_details' %}">Purchase a subscription</a>.
        {% else %}
        <form action="{% url 'gchatautorespond.apps.autorespond.views.auth_view' %}">
            <input class="button-primary" type="submit" value="add an autorespond account">
        </form>
        {% if gcredentials %}
            <h3>autoresponses:</h3>

            Creating an autoresponse will make the account:
            <ul>
                <li>always appear online</li>
                <li>accept all chat invitations</li>
                <li>respond to Chat or Hangouts messages when you are offline, away, or busy</li>
            </ul>
            Be sure to include contact information like an email or profile link.

            <br/>
            If enabled, email notifications will be sent to your login email ({{ user.email }}).

            <form id="autoresponses" method="post" action="{% url 'gchatautorespond.apps.autorespond.views.autorespond_view' %}">
                {% csrf_token %}
                <table>
                    {{ autorespond_formset }}
                </table>
                <input class="button-primary" type="submit" value="update autoresponses">
            </form>
        {% endif %}
        {% endif %}
    </div>
{% endblock content %}
