{% extends "base.html" %}
{% load bootstrap3 %}
{% block navbar %}
{% endblock navbar %}
{% block header %}
<div class="jumbotron">
    <div class="container text-center landing">
        <h1>Autoresponder</h1>
        <h2>for Google Hangouts</h2>
        <br/>

        <p>
        Autoresponder lets you reply automatically to Google Hangouts messages, even if you're offline.
        <br/>
        It's {{ view.price }} charged monthly, with a {{ view.trial_length }} no-questions-asked free trial, and cancellable any time.
        </p>

        <a class="btn btn-default btn-lg active" href="{% url 'auth_login' %}">Log In</a>
        <a class="btn btn-primary btn-lg active" href="{% url 'registration_register' %}">Sign Up</a>
    </div>
</div>
<div class="container landing">
    <div class="row">
        <div class="col-lg-4">
            <div class="text-center">
                <span class="glyphicon glyphicon-glass" style="font-size:4em;"></span>
            </div>
            <h3>out of office / vacation reply for chat</h3>
            <p>Going away? Gmail can respond automatically to your emails, but not your chat messages. Autoresponder can fill the gap.</p>
        </div>

        <div class="col-lg-4">
            <div class="text-center">
                <span class="glyphicon glyphicon-eye-open" style="font-size:4em;"></span>
            </div>
            <h3>avoid missing chat messages to unmonitored accounts</h3>
            <p>Have accounts that foward email that you never log into? You could be missing chat messages. Autoresponder can tell people how to get in touch and let you know about incoming messages.</p>
        </div>

        <div class="col-lg-4">
            <div class="text-center">
                <span class="glyphicon glyphicon-transfer" style="font-size:4em;"></span>
            </div>
            <h3>automatically direct people to a chat platform you're migrating to</h3>
            <p>Switching from Google Hangouts to something like Slack? Autoresponder can tell existing contacts where to find you.</p>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <hr>
            <h2>Features</h2>
        </div>
        <div class="col-lg-2">
            <h4>multiple account support</h4>
            <p>
            Want autoreplies on multiple accounts? No problem; you can attach them all to one Autoresponder account.
            </p>
        </div>
        <div class="col-lg-2">
            <h4>optional email notifications</h4>
            <p>
            You can receive emails when messages are received so you don't miss a thing.
            </p>
        </div>
        <div class="col-lg-2">
            <h4>secure <a href="https://developers.google.com/talk/jep_extensions/oauth">OAuth 2.0</a> access</h4>
            <p>
            Autoresponder can only access your chat messages, and will never use them for anything other than sending replies.
            </p>
        </div>
        <div class="col-lg-2">
            <h4>automatic status detection</h4>
            <p>
            Normal conversations won't be interrupted: autoresponses are only sent when you're offline or away.
            </p>
        </div>
        <div class="col-lg-2">
            <h4>custom rate limits and user settings</h4>
            <p>
            Autoresponses can be configured to fire as often as you'd like and even handle contacts specific differently.
            </p>
        </div>
        <div class="col-lg-2">
            <h4>open source and self-hostable</h4>
            <p>
            <a href="https://github.com/simon-weber/gchatautorespond">Contributions welcome!</a>
            And if you have your own server, feel free to self-host.
            </p>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}
{% endblock content %}
