{% extends "base.html" %}
{% block header %}
<h1>Autoresponder for Google Chat and Hangouts</h1>

<p>
Have Google accounts that forward email, but you never log into?
<br/>
You might be missing Google Chat or Hangouts messages.
</p>

<p>
Sign up to create automatic responses so people know how to get in touch.
<br/>
It's {{ view.price }} charged monthly, with a {{ view.trial_length }} no-questions-asked free trial, cancellable any time.
</p>

<p>
<a class="button" href="{% url 'auth_login' %}">Log In</a>
<a class="button button-primary" href="{% url 'registration_register' %}">Sign Up</a>
</p>

{% endblock header %}

{% block content %}
<section>
How it works:
<ul>
    <li>connect one or more Google accounts</li>
    <li>set a message that will be sent if you receive a message when offline, away, or busy</li>
    <li>optionally, receive an email when an autoresponse is sent</li>
    <li>due to a limitation on Google's end, SMS and group messages can not be responded to</li>
</ul>
</section>

<section>
Behind the scenes:
<ul>
    <li>your account is accessed securely with <a href="https://developers.google.com/talk/jep_extensions/oauth">Google's XMPP OAuth 2.0</a></li>
    <li>the code powering everything is <a href="https://github.com/simon-weber/gchatautorespond">free and open source</a>; you can <a href="https://github.com/simon-weber/gchatautorespond#self-hosting">self-host for free</a>.</li>
</ul>
</section>
{% endblock content %}
