{% extends "base.html" %}
{% block header %}
<h1>Autoresponder for Google Chat and Hangouts</h1>
{% endblock header %}

{% block content %}
<h2>Privacy Policy</h2>

<p>
<i>published September 5, 2016</i>
</p>

<p>
This page explains what data we collect from you and what we use it for.
Changes to the contents of this policy will be published here and sent to your login email.
Past versions of this page are available on request.
</p>

We'll start with definitions used in the rest of the page:
<ul>
    <li>"the site" means gchat.simon.codes</li>
    <li>"login email" means the email you use to sign up and log in to the site</li>
    <li>"connected account" means a Google account you give the site access to via <a href="https://developers.google.com/talk/jep_extensions/oauth">Google's XMPP OAuth 2.0</a></li>
    <li>"incoming message" means a Google Chat or Hangouts message sent to a connected account</li>
    <li>"autoresponse" means a Google Chat message sent on your behalf by the site in response to an incoming message</li>
</ul>

<b>Here is what we will never do with your data:</b>
<li>we will never store the contents of incoming messages unless they trigger an autoresponse</li>
<li>we will never send email to your connected accounts' emails (unless they are also your login email)</li>
<li>we will never email you advertisements for other products</li>

<p>
</p>
<b>Here is what we may do with your data:</b>
<li>we may temporarily store the contents of any email sent from the site to you (for example, signup emails) for up to one month for debugging purposes</li>
<li>we may indefinitely store the contents of any email sent from you to the site (for example, support requests)</li>
<li>we may allow <a href="https://www.google.com/analytics">Google Analytics</a> to indefinitely store anonymous information about your interaction with the site as governed by their <a href="https://support.google.com/analytics/answer/6004245?hl=en">privacy policy</a> to better understand aggregate user behavior</li>
<li>we may allow <a href="https://logentries.com/">Logentries</a> to temporarily store any information logged by the site for up to seven days to assist in debugging as governed by their <a href="https://logentries.com/privacy/">privacy policy</a></li>
<li>we may allow <a href="https://www.braintreepayments.com/">Braintree</a> (a PayPal company) to indefinitely store your payment details as governed by their <a href="https://www.paypal.com/us/webapps/mpp/ua/privacy-full">privacy policy</a> for the purpose of charging you for the site</li>

{% endblock content %}
