{% extends "base.html" %}
{% load bootstrap3 %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Autoresponder for Google Hangouts</h1>
        <h2>Supported Google Products</h2>

        <p>
        Autoresponses are only guaranteed to work for direct messages where both the sender and receiver are using Google Hangouts. Even though other kinds of messages are visible in Google Hangouts, they're not sent over the only public api (which was originally developed for <a href="https://en.wikipedia.org/wiki/Google_Talk">Google Talk</a>).
        </p>

        <p>
        Here are the common kinds of messages that will <b>not</b> trigger an autoresponse:
        </p>
        <ul>
            <li>Hangouts group messages, except for the initial invitation</li>
            <li>Google Voice SMS messages</li>
            <li>Google Chat direct messages</li>
        </ul>

        <p>
        Google's latest published plans for Hangouts are available <a href="https://blog.google/products/workspace/latest-google-hangouts-and-upgrade-google-chat/">here</a>.
        </p>
    </div>
</div>
{% endblock content %}
