{% extends "base.html" %}
{% block header %}
{% endblock header %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Autoresponder for Google Chat and Hangouts</h1>
        <h2>Terms of Service</h2>

        <p>
        <i>published September 24, 2016</i>
        </p>

        <p>
        You must agree with the terms on this page to use the site (gchat.simon.codes) and the services it provides.
        Changes to the contents of this page will be published here and sent to your login email.
        Past versions of this page are available on request.
        </p>

        We'll start with definitions used in the rest of the page:
        <ul>
            <li>"the site" means gchat.simon.codes</li>
            <li>"login email" means the email you use to sign up and log in to the site</li>
            <li>"connected account" means a Google account you give the site access to via <a href="https://developers.google.com/talk/jep_extensions/oauth">Google's XMPP OAuth 2.0</a></li>
            <li>"incoming message" means a Google Chat or Hangouts message sent to a connected account</li>
            <li>"autoresponse" means a Google Chat message sent on your behalf by the site in response to an incoming message</li>
            <li>"free trial" means a period of 7 days after account activation where you may use the site for free</li>
            <li>"the fee" means a $2 charged monthly</li>
        </ul>

        <b>You agree that your account and/or autoresponses may be disabled if they:</b>
        <li>consume an unreasonable proportion of the site's resources (for example, receiving thousands of messages per day)</li>
        <li>are used for harassment or any illegal purpose</li>
        <li>are connected to a Google account we have reason to suspect does not belong to you</li>

        <p>
        </p>

        <b>You agree that:</b>
        <li>the site and/or services may be periodically unavailable for short periods of time</li>
        <li>we do not provide refunds (instead, we offer a free trial)</li>
        <li>we may retry failed attempts to collect the fee</li>
        <li>we may disable your account and/or autoresponses if we cannot collect the fee in a timely manner</li>

    </div>
</div>
{% endblock content %}
