{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
    <script src="https://browser.sentry-cdn.com/5.9.1/bundle.min.js" integrity="sha384-/x1aHz0nKRd6zVUazsV6CbQvjJvr6zQL2CHbQZf3yoLkezyEtZUpqUNnOLW9Nt3v" crossorigin="anonymous">
    </script>
    <script type="text/javascript">
        Sentry.init({ dsn: 'https://bb7d4f2fe565430bb52204c1aeb0df3b@sentry.io/1835509' });
    </script>

    <div id="details">
        <h3>payment details:</h3>
        {% if admin_override == 'EN' %}
        Your account has been activated by a site admin.
        {% elif admin_override == 'DI' %}
        Your account has been deactivated by a site admin.
        {% else %}

        {% if is_active %}
        Your account is currently active.
        {% else %}
        Your account is currently inactive.
        {% endif %}

        {% if trial_expire_date %}
        <br/>
        Your trial expires on {{ trial_expire_date }}.
        {% endif %}

        {% if next_bill_date %}
        <br/>
        You will be billed {{ price }} next on {{ next_bill_date }}.
        <a href="{% url 'license_cancel' %}">Cancel your subscription.</a>
        <br/>
        A receipt will automatically be sent to your account email.
        {% endif %}

        {% if not has_valid_subscription %}
        <br/>
        A subscription is {{ price }} charged monthly.
        It begins immediately and you may cancel it at any time.
        <br/>
        Upon starting a subscription, a receipt will automatically be sent to your account email.
        {% endif %}

        <br/>
        <form class="form-horizontal" id="card-form" method="post" action=".">
            {% csrf_token %}
            Your payment details are stored securely by
            <a href="https://www.braintreepayments.com/" target="_blank" rel="noopener noreferrer">Braintree</a> (a PayPal company).
            <br/>
            <br/>
            <div id="dropin-container"></div>
        </form>

        <script src="https://js.braintreegateway.com/web/dropin/1.20.4/js/dropin.min.js"></script>
        <script type="text/javascript">
            var submit = document.createElement('input');
            submit.type='button';
            submit.className='btn btn-default'
            submit.value='{{ has_valid_subscription |yesno:"save changes,begin subscription" }}';

            braintree.dropin.create(
                {authorization: '{{ client_token }}',
                container: '#dropin-container'
            }, function (createErr, instance) {
                submit.addEventListener('click', function () {
                    instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
                        if (requestPaymentMethodErr) {
                            console.log(requestPaymentMethodErr);
                            Sentry.configureScope(function(scope) {
                                scope.setExtra("details", requestPaymentMethodErr);
                                Sentry.captureException(requestPaymentMethodErr);
                            });
                        } else {
                            var nonceInput = document.createElement("input");
                            nonceInput.type = 'hidden';
                            nonceInput.value = payload.nonce;
                            nonceInput.name = "payment_method_nonce";
                            var cardForm = document.getElementById('card-form');
                            cardForm.appendChild(nonceInput);
                            cardForm.submit();
                        }
                    });
                });
            });
            document.getElementById('card-form').appendChild(submit);
        </script>
        <noscript>
            Sorry, 3rd party scripts must be enabled since this form uses Braintree's Drop-in UI.
        </noscript>
        {% endif %}
    </div>
{% endblock content %}
